:root {
  /* Variables */

  /* Colors */
  --primary-color: #007bff;
  --primary-hover: #0056b3;

  --text-color-primary: #474554;
  --text-color-secondary: #474747;
  --text-color-light: #fff;
  --text-error: #dc3545;

  --background-light: #aca7cb;
  --background-dark: #474554;
  --background-white: #fff;
  --background-magenta: #ff00e9;

  --detail-magenta: #ff00e9;
  --detail-magenta-2: #ff00d5;

  --border-color: #474554;
  --border-color-magenta: #ff00e9;

  --white: #fff;
  --black: #000;

  --shadow: 0 4px 12px 0 #ff00d533;

  /* Transitions */
  --transition: 300ms ease-in-out;

  /* Breakpoints */
  --mobile: 768px;

  /* Fonts */
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Montserrat", sans-serif;

  /* Font weights */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Font sizes */
  --font-size-small: 12px;
  --font-size-medium: 16px;
  --font-size-large: 18px;
  --font-size-x-large: 20px;
  --font-size-xx-large: 24px;
  --font-size-heading-small: 24px;
  --font-size-heading-large: 32px;
  --font-size-heading-x-large: 40px;
  --font-size-heading-xx-large: 48px;

  /* Border radius */
  --border-radius-small: 4px;
  --border-radius-medium: 6px;
  --border-radius-large: 10px;

  /* Spacing */
  --spacing-small: 4px;
  --spacing-medium: 8px;
  --spacing-large: 16px;
  --spacing-x-large: 24px;
  --spacing-xx-large: 32px;
}
